/* Общие стили всей страницы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/segoeui.woff2") format("woff2"), url("../fonts/segoeui.woff") format("woff");
  font-display: swap;
}

.page {
  width: 100%;
  background-color: #F6F6FA;
}

.page__body {
  width: 320px;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-family: "Segoe UI", "Arial", sans-serif;
  font-size: 16px;
}

/* HEADER */
.header {
  width: 100%;
  background-color: #6725A8;
}

/* Навигация в header общая*/
.nav-top__toggle {
  background-color: transparent;
  width: 28px;
  height:28px;
  border: none;
}

.header__nav {
  position: relative;
  min-height: 77px;
}

.header__nav::after {
  content: '';
  width: 100%;
  height: 25.4px;
  background-color: #FFFFFF;
  border-radius: 24px 24px 0px 0px;
  position: absolute;
  bottom: 0;
}

/* Навигация в header для mobile */
.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 14px 13px 0 13px;
}

.nav-top__toggle {
  padding: 0;
}

.nav-top__toggle--open {
  background-image: url(../img/menu-mobile-icon.svg);
}

.nav-top__toggle--search {
  background-image: url(../img/search-icon.svg);
}

.nav-top__logo-image {
  padding-top: 8px;
}

/* Навигация в header для desktop и tablet */
.nav-top__input-search {
  display: none;
}

.nav-top__list {
  display: none;
}

/* Навигация внизу страницы */
.nav__mobile-bottom {
  display: none;
}

/* MAIN */
.main__container {
  padding: 0 16px 0 16px;
}

.main__title {
  margin: 0;
  font-size: 20px;
  margin-bottom: 13.5px;
}

/* Чекбоксы */
.checkbox {
  display: flex;
  justify-content: space-between;
}

.checkbox__element {
  display: flex;
}

.checkbox__hidden-element {
  display: flex;
  align-items: end;
}

.checkbox__control-mark {
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0;
  margin-right: 11px;
  position: relative;
}

.checkbox__input[type=checkbox]:checked+.checkbox__control-mark::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/checkbox-checked-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__input[type=checkbox]:checked+.checkbox__control-mark {
  border-color: #FFF;
}