/* Общие стили всей страницы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/segoeui.woff2") format("woff2"), url("../fonts/segoeui.woff") format("woff");
  font-display: swap;
}

.page {
  width: 100%;
  background-color: #FFFFFF;
}

.page__body {
  width: 320px;
  margin: 0 auto;
  background-color: #F6F6FA;
  font-family: "Segoe UI", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;

  @media (min-width: 1024px) {
    width: 1024px;
  }

  @media (min-width: 1400px) {
    width: 1400px;
  }
}

/* Шрифты на странице */
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4px;
  margin: 0;

  @media (min-width: 1400px) {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}

.subtitle {
  font-weight: 600;
  margin: 0;
  font-size: inherit;
  font-weight: 600;
}

.subtitle-bold-text {
  font-weight: 700;
}

.description-normal-text {
  font-size: 14px;
  line-height: 20px;
}

.description-small-text {
  font-size: 13px;
  line-height: 16px;
}

/* HEADER */
.header {
  width: 100%;
  background-color: #6725A8;
}

/* Навигация в header общая*/
.nav-top__toggle {
  background-color: transparent;
  width: 28px;
  height:28px;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (min-width: 1024px) {
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
  }
}

.header__nav {
  position: relative;
  min-height: 77px;
}

.header__nav::after {
  content: '';
  width: 100%;
  height: 25.4px;
  background-color: #F6F6FA;
  border-radius: 24px 24px 0 0;
  position: absolute;
  bottom: -4px;
}

/* Навигация в header для mobile */
.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 14px 13px 0 13px;

  @media (min-width: 1024px) {
    padding: 16px 24px 40px 24px;
    justify-content: start;
  }
}

.nav-top__toggle--open {
  background-image: url(../img/menu-mobile-icon.svg);

  @media (min-width: 1024px) {
    background-image: url(../img/menu-icon.svg);
    width:48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 16px;
  }
}

.nav-top__toggle--search {
  background-image: url(../img/search-icon.svg);

  @media (min-width: 1024px) {
    display: none;
  }
}

.nav-top__logo-image {
  padding-top: 6px;
  margin-right: 32px;
}

/* Навигация в header для desktop и tablet */
.nav-top__input-search {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 36px;
    border: none;
    width: 594px;
    background-image: url(../img/search-input-icon.svg);
    background-repeat: no-repeat;
    background-position: right 20px center ;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    margin-right: 32px;
  }

  @media (min-width: 1400px) {
    width: 970px;
  }
}

.nav-top__input-search::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
  font-family: "Segoe UI", "Arial", sans-serif;
}

.nav-top__list {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 40px;
  }
}

.nav__item {
  width: 56px;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}

.nav__link {
  color: #FFFFFF;
  text-decoration: none;
}

.nav__link--profile::before {
  content: '';
  background-image: url(../img/profile-icon.svg);
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -14px;
}

.nav__link--basket::before {
  content: '';
  background-image: url(../img/basket.-icon.svg);
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -14px;
}

/* MAIN */
/* Общие стили main */
.main__title {
  margin: 0;
  margin-bottom: 13.5px;
  margin-top: -6px;
  position: relative;
}

.main__form {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 656px 303px;
    column-gap: 32px;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 915px 429px;
  }
}

.main__wrapper {
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    width: 664px;
    padding-left: 24px;
  }

  @media (min-width: 1400px) {
    width: 891px;
  }
}

/* Чекбоксы */
.goods__checkbox-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.checkbox-element__label {
  cursor: pointer;
}

.checkbox-element__label--all {
  display: flex;
}

.checkbox-element {
  display: flex;
}

.goods__all-info {
  display: none;
  position: absolute;
}

.goods__hidden-element {
  display: flex;
  align-items: end;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url("../img/arrow-icon.svg");
}

.goods__hidden-element:hover {
  opacity: 0.7;
}

.goods__hidden-element:active {
  opacity: 0.4;
}

.checkbox-element__control-mark {
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0;
  margin-top: 2px;
  position: relative;
  box-sizing: border-box;
}

.checkbox-element__control-mark-all {
  margin-right: 11px;
}

.checkbox-element__input[type=checkbox]:checked+.checkbox-element__control-mark::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/checkbox-checked-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Чекбокс в карточке товара */
.goods-card__checkbox {
  position: relative;
}

.checkbox-card__control-mark--card {
  background-color: #FFFFFF;
  top: 1px;
  left: 4px;
  position: absolute;

  @media (min-width: 1024px) {
    top: 38px;
  }
}

/* Список товаров в корзине */
.goods {
  padding: 0 16px 0 16px;

  @media (min-width: 1024px) {
    padding: 0;
  }
}

.goods__container {
  margin-bottom: 16px;
  
  @media (min-width: 1024px) {
    width: 640px;
  }

  @media (min-width: 1400px) {
    width: 891px;
  }
}

.goods-stock {
  margin-bottom: 31px;
}

.goods-stock__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* КАРТОЧКА ТОВАРА */
/* Общие стили карточки товара */
.goods-card {
  padding: 13px 0 10px 0;
  position: relative;
}

.goods-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
}

/* Информация в карточке товара на фото товара */
.goods-stock__item {
  display: grid;
  grid-template-columns: 80px 192px;
  grid-template-rows: auto auto;
  column-gap: 16px;
  row-gap: 5px;

  @media (min-width: 1024px) {
    grid-template-columns: 106px 275px 100px 110px;
    column-gap: 16px;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 106px 543px 100px 110px;
  }
}

.goods-card__image {
  position: relative;
}

.goods-card__size {
  position: absolute;
  min-width: 22px;
  max-width: 72px;
  height: 22px;
  background-color: #FFFFFF;
  border-radius: 4px;
  left: 4px;
  bottom: 8px;
  text-align: center;
  z-index: 2;

  @media (min-width: 1024px) {
    display: none;
  }
}

.goods-card__size--big-text {
  padding: 0 3px;
}

/* Количество товара */
.count {
  display: inline-block;
	position: relative;
  width: 80px;
}

.count input[type="number"] {
	display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
  border: none;
  font-family: inherit;
  border-radius: 8px;
}

.count input[type="number"]::-webkit-outer-spin-button,
.count input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.count__button {
  position: absolute;
  top: 0;
  background-color: #FFFFFF;
  height: 32px;
}

.count__button:hover {
  background-color: rgba(0, 0, 0, 0.20);
}

.count__button--minus {
	left: 0;
	bottom: 0;
	width: 20px;
	padding: 0;
	display: block;
	border: none;
  background-image: url(../img/minus-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 4px;
}

.count__button--minus-none {
  opacity: 0.2;
}

.count__button--plus-none {
  opacity: 0.2;
}

.count__button--plus {
	right: 0;
	bottom: 0;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
  background-image: url(../img/plus-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 4px 4px 0;
}

.goods-card__count--mobile {
  @media (min-width: 1024px) {
    display: none;
  }
}

.goods-card__count--desktop {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.goods-card__info-bottom:hover .goods-card__count-info {
  display: block;
}

.goods-card__button--stock {
  @media (min-width: 1024px) {
    display: none;
  }
}

.goods-card__info-bottom:hover .goods-card__button--stock {
  display: block;
}

.goods-card__info {
  display: flex;
  flex-direction: column;

  @media (min-width: 1400px) {
    margin-right: 268px;
  }
}

.goods-card__price {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.goods-card__info-price {
  letter-spacing: 0.2px;

  @media (min-width: 1024px) {
    margin: 0;
    margin-bottom: 6px;
  }
}

.goods-card__info-old-price {
  color: #A0A0A4;
  text-decoration: line-through;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.goods-card__info-old-price::after {
  content: '';
  width: 100%;
  border-top: 1px dashed #A0A0A4;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.goods-card__price--mobile {
  @media (min-width: 1024px) {
    display: none;
  }
}

.goods-card__price--desktop {
  display: none;
  
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

.goods-card__info-container {
  display: flex;
  column-gap: 16px;
}

.goods-card__info-name {
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 8px;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 40px;
}

.goods-card__info-color {
  margin-bottom: 8px;
}

.goods-card__info-size {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.goods-card__info-storage {
  color: #A0A0A4;

  @media (min-width: 1024px) {
    margin-bottom: 4px;
  }
}

.goods-card__info-company-container {
  display: none; 

  @media (min-width: 1024px) {
    display: block;
    display: flex;
    align-items: center;
  }
}

.goods-card__info-сompany {
  color: #A0A0A4;
  margin-right: 6px;
}

.goods-card__info-company-button {
  border: none;
  background-color: transparent;
  background-image: url(../img/info-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.goods-card__info-bottom {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1024px) {
    flex-direction: column;;
  }
}

.goods-card__info-bottom--left {
  justify-content: end;
}

.goods-card__buttons {
  display: flex;
  justify-content: end;
}

.goods-card__count {
  align-self: center;
}

.goods-card__count-info {
  color: #FF3B30;
  align-self: center;

  @media (min-width: 1024px) {
    display: none;
  }
}

.card-button {
  padding: 12px;
}

.card-button__delete {
  padding-right: 4px;
}

.card-button__button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  display: block;
  cursor: pointer;
}

.card-button__button-icon {
  fill: #000000;
}

.card-button__button-icon--favorites:hover {
  fill: #CB11AB;
}

.card-button__button-icon--delete:hover {
  fill: #F55123;
}

/* Раздел "Отстутствуют" */
.goods__subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 18.5px;
}

.goods__text-container {
  display: flex;
}

.goods__title {
  margin: 0;
  margin-right: 4px;
}

.goods__subtitle {
  margin-right: 3px;
}

.goods-card--out-stock {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
  row-gap: 1px;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    row-gap: 16px;
  }
}

.goods-card__all-info {
  display: flex;
  column-gap: 16px;
}

.goods-card__link {
  display: flex;

  @media (min-width: 1024px) {
    padding-left: 33px;
  }
}

.goods-card__link--out-stock {
  @media (min-width: 1024px) {
    padding-left: 0;
  }
}

.goods-card__info-bottom--out-stock {
  justify-content: end;
}

.goods-card__photo--out-stock {
  filter: grayscale(100%);
}

.goods-card__info--out-stock {
  color: #A0A0A4;

  @media (min-width: 1400px) {
    width: 309px;
  }
}

.goods-card__info-name--out-stock {
  color: inherit;
}

/* Раздел "Способы доставки" */
.wrapper {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 16px;
}

.container {
  padding: 16px 16px 24px 16px;

  @media (min-width: 1024px) {
    padding: 16px 24px 24px 24px;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.choose-button {
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  font-family: inherit;
  color: #CB11AB;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.delivery__point {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.delivery__text--adress {
  margin-bottom: 4px;
}

.delivery__text--pop-over {
  position: relative;
}

.delivery__delivery-term {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 19px; 
}

.delivery__subtitle-container--terms {
  margin-bottom: 16px;
}

.delivery__subtitle-container {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 153px 429px;
    column-gap: 32px;
  }
}

.delivery__description {
  display: flex;
  column-gap: 8px;
}

.delivery__rating {
  padding-left: 16px;
  position: relative;
}

.delivery__rating::before {
  content: '';
  background-image: url(../img/rating-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 2px;
}

.delivery__goods {
  display: flex;
  column-gap: 8px;
}

.delivery__product-thumbnail-container {
  position: relative;
}

.product-thumbnail-count {
  position: absolute;
  background-color: #F55123;
  border-radius: 16px;
  color: #FFFFFF;
  padding: 0 5px 1px 5px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  right: -6px;
  top: -5px;
}

.nav__thumbnail-count {
  top: -6px;
  right: 6px;
}

.delivery {
  margin-bottom: 12px;
}

.delivery__title {
  letter-spacing: -0.5px;
}

.delivery__wrapper {
  position: relative;
}

.delivery-info {
  padding-left: 31px;
  position: relative;
  margin: 0;
}

.delivery-info::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/delivery-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  margin-top: -11px;
}

.delivery-info__highight {
  color: #0CB477;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* Способы оплаты */
.payment {
  margin-bottom: 12px;
}

.bank-card__info {
  display: flex;
  column-gap: 8px;
  margin-bottom: 8px;
  align-items: center;
}

.bank-card__info--total {
  margin: 0;
}

.bank-card__number {
  margin-right: 4px;
}

.bank-card__note {
  margin: 0;
  color: #A0A0A4;
}

/* Получатель */
.receiver {
  margin-bottom: 4px;
}

.receiver__container {
  padding-bottom: 8px;
}

.receiver__title {
  margin-bottom: 9px;
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  row-gap: 16px;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}

.form__item {
  padding: 13px 0 18px 0;
  position: relative;
  width: 100%;
}

.form__item--name {
  @media (min-width: 1024px) {
    width: 283px;
  }
}

.form__item--info {
  @media (min-width: 1024px) {
    width: 180.5px;
  }
}
.form__item-note {
  font-size: 12px;
}

.form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  padding: 0;
}

::placeholder {
  color: #A0A0A4;
}

/* Анимация для формы */
.form__item input {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #000;
  font-size: inherit;
  line-height: inherit; 
  height: 24px;
  width: 100%;
}

.form__item label {
  color: #000;
  font-size: inherit;
  line-height: inherit;
  pointer-events: none;
  position: absolute;
  transition: all 200ms;
  top: 12px;
  left: 0;
}

.form__item input:focus + label,
.form__item input:not(:placeholder-shown) + label{
  top: -6px;
  left: -2px;
  font-size: 12px; 
  line-height: 14px;
  color: #A0A0A4;
}

/* Итого */
.total {
  margin-bottom: 16px;

  @media (mun-width: 1024px) {
    width: 255px;
  }
}

.total__container {
  padding: 8px 16px 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: 1024px) {
    padding: 16px 24px 24px 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
    row-gap: 24px;
  }
}

.total__title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.total__table {
  width: 100%;
  padding: 0;
}

.total__сell {
  padding: 0;
}

.total__text {
  letter-spacing: -0.3px;
}

.total__second-column {
  text-align: end;
}

.total__wrapper {
  background-color: #F0ECF4;
  border-radius: 8px;
  padding: 8px 8px 12px 8px;

  @media (min-width: 1024px) {
    background-color: #F6F6FA;
  }
}

.checkbox-element__label--total {
  display: flex;
  align-items: center;
}

.checkbox-element__control-mark--label-total {
  margin-right: 8px;
}

.total__payment {
  margin-bottom: 19px;

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.total__button-container {
  width: 288px;

  @media (min-width: 1024px) {
    width: 255px;
  }

  @media (min-width: 1400px) {
    width: 381px;
  }
}

.button {
  display: flex;
  width: 100%;
  min-height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 8px;
  background-color: #CB11AB;
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  color: #FFFFFF;
  margin-bottom: 12px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background-color: #E313BF;
}

.button:active {
  background-color: #B30F97;
}

.total__form-agreement-text {
  padding-left: 21px;
  position: relative;
  margin: 0;
}

.total__form-agreement-text::before {
  content: '';
  background-image: url(../img/agreement-icon.svg);
  width: 13px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
}

.total__form-agreement-link {
  text-decoration-color: rgba(0, 0, 0, 0.10);
  color: #000000;
  margin: 0;
}

.total__box {
  display: flex;
  justify-content: space-between;
}

.total__delivery,
.total__bank-card {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.total__delivery-description {
  flex-direction: column;
  row-gap: 4px;
}

.total__delivery-dates {
  color: #CB11AB;
}

.icon-button {
  width: 20px;
  height: 20px;
  background-image: url(../img/button-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: #6725A8;
  min-width: 88px;
  position: relative;
  margin-bottom: 56px;
}

.footer::before {
  content: '';
  width: 100%;
  height: 25.4px;
  background-color: #F6F6FA;
  border-radius: 0 0 24px 24px;
  position: absolute;
  top: -1px;
}

.footer__text {
  color: #FFFFFF;
  padding: 24px;
  padding-top: 48px;
  text-align: center;
  margin: 0;
}

/* Навигация внизу страницы */
.nav-mobile-bottom {
  @media (min-width: 1024px) {
    display: none;
  }
}

.nav-mobile-bottom__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 320px;
}

.nav-mobile-bottom__item {
  min-height: 56px;
  padding: 14px 13px 14px 13px;
  box-sizing: border-box;
}

.nav-mobile-bottom__link {
  display: flex;
  position: relative;
}

.nav-mobile-bottom__icon {
  fill: #CCCCCC;
}

.nav-mobile-bottom__icon--active {
  fill: #CB11AB;
}

/* Модальные окна */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(5, 0, 10, 0.30);
  z-index: 5;
}

.modal--mobile {
  width: 320px;
  left: 50%;
  margin-left: -160px;
}

.title-container {
  margin-bottom: 13px;
}

.modal-container {
  background-color: #F6F6FA;
  width: 100%;
  padding: 16px;
  z-index: 10;
}

.modal-container--delivery {
  padding-top: 18px;
}

.payment-modal__list {
  list-style-type: none;
  padding: 0;
  padding-left: 28px;
  margin: 0;
}

.payment-modal__item {
  position: relative;
}

.radio-control {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.payment-modal__radio-control {
  left: -25px;
  top: 3px;
}

.modal-input__input[type=radio]:checked+.radio-control::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/radio-checked-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -3px;
  left: -3px;
  border: 1px solid #FFFFFF;
}

.modal__delivery {
  display: none;
}

.close-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.close-button__icon {
  fill: #A0A0A4;
}

.close-button__icon:hover {
  fill: #000000;
}

.close-button__icon:active {
  fill: rgba(0, 0, 0, 0.8);
}

.payment-modal__button {
  margin-bottom: 16px;
}

.button-container {
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 288px;
  z-index: 10;
}

.modal__payment-modal--close {
  display: none;
}

/* Модальное окно "Способ доставки" */
.type-delivery {
  margin-bottom: 30px;
}

.delivery-modal__subtitle {
  font-weight: 700;
}

.delivery-modal__subtitle-container {
  margin-bottom: 10px;
}

.type-delivery__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 144px 144px;
  column-gap: 8px;
  text-align: center;
}

.delivery-modal__title-container {
  margin-bottom: 22px;
}

.type-delivery__item {
  position: relative;
}

.delivery-modal__big-radio-control {
  width: 140px;
  min-height: 38px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  position: absolute;
  border-radius: 20px;
  right: 0;
  top: -7px;
}

.type-delivery__input[type=radio]:checked+.delivery-modal__big-radio-control::before {
  content: '';
  width: 140px;
  min-height: 38px;
  border: 2px solid #CB11AB;
  position: absolute;
  border-radius: 20px;
  right: -1px;
  top: -2px;
}

.addresses-modal__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.addresses-modal__item {
  display: grid;
  grid-template-columns: 264px 20px;
  column-gap: 8px;
}

.addresses-modal__info {
  display: flex;
  flex-direction: column;
  padding-left: 28px;
}

.addresses-modal__address {
  letter-spacing: -0.1px;
}

.addresses-modal__item {
  position: relative;
}

.addresses-modal__radio-control {
  top: 6px;
}

.addresses-modal__input[type=radio]:checked+.radio-control::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/radio-checked-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -3px;
  left: -3px;
  border: 1px solid #FFFFFF;
}

.addresses-modal__description {
  color: #A0A0A4;
}

.addresses-modal__rating {
  padding-left: 16px;
  position: relative;
}

.addresses-modal__rating::before {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url(../img/rating-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 5px;
}

.addresses-modal__delete-icon {
  fill: #A0A0A4;
}

.addresses-modal__delete-icon:hover {
  fill:#000000;
}

.addresses-modal__delete-icon:active {
  fill: rgba(0, 0, 0, 0.8);
}

.modal__delivery-modal--close {
  display: none;
}

/* POP-OVER */
.pop-over {
  width: 280px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 11px 16px 13px 16px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 2px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 15;
  box-sizing: border-box;
  display: none;
}

.pop-over--price {
  bottom: 81px;
  right: -9px;

  @media (min-width: 1024px) {
    bottom: 16px;
    right: -6px;
  }
}

.pop-over--info-storage {
  left: 126px;    
  bottom: -92px;
}

.pop-over__title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.pop-over__description {
  margin: 0;
}

.pop-over__description:not(:last-child) {
  margin-bottom: 8px;
}

.goods-card__info-company-button:hover+.pop-over,
.goods-card__info-old-price:hover+.pop-over,
.delivery-info__highight:hover+.pop-over {
  display: block;
}

.pop-over__description--first-column {
  color: #A0A0A4;
  padding: 0;
}

.pop-over__description--second-column {
  text-align: end;
  padding: 0;
}

.pop-over__table {
  width: 257px;
}

.pop-over--delivery {
  left: 3px;
  top: 35px;

  @media(min-width: 1024px) {
    left: 231px;
    top: 21px;
  }
}

.pop-over--delivery-total {
  left: 4px;
  top: 54px;
  @media (min-width: 1024px){
    left: -12px;
    top: 54px;
  }
}